<div class="text-neutral-400 lg:text-center my-16 text-left">
  <p class="font-bold text-base">Info:</p>

  <ul class="text-xs sm:text-sm">
    <li>
      - All variants are without spread so they are only as large as the Element
      (e.g. the text). Check out the <a
        href="https://github.com/jln13x/tailwindcss-highlights#usage"
        target="_blank"
        class="font-medium underline underline-offset-4"
      >
        Docs</a
      >
      how to add it.
    </li>
    <li>
      - You can find the file size below each variant (gzipped). The more
      detailed / complex the variant is, the bigger the file size.
    </li>
  </ul>
</div>
