---
import GithubLink from "../component/GithubLink.astro";
import Variant from "../component/Variant.astro";

const highlights = [];

for (let i = 1; i < 1000; i++) {
  const highlight = `https://raw.githubusercontent.com/jln13x/tailwindcss-highlights/main/highlights/${i}.svg`;

  const response = await fetch(highlight);

  if (response.status === 404) {
    break;
  }

  highlights.push(`highlight-variant-${i}`);
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>tailwindcss-highlights - Plugin Showcase</title>
    <meta
      name="description"
      content="A plugin for tailwindcss to add highlights to your text"
    />
  </head>
  <body>
    <main
      class="bg-gradient-to-tr bg-slate-900 h-screen w-screen grid place-items-center px-8"
    >
      <div>
        <div class="flex flex-col items-center text-white text-center -mt-48">
          <h1
            class="text-6xl bg-gradient-to-br from-cyan-400 to-rose-500 bg-clip-text text-transparent p-4"
          >
            tailwindcss-highlights
          </h1>
          <div
            id="npm-install-command"
            class="bg-gradient-to-r bg-black/20 backdrop-blur-sm text-white p-4 rounded-lg mt-4 cursor-copy"
          >
            npm install tailwindcss-highlights
          </div>

          <GithubLink />
        </div>
        <div class="mt-36">
          <p class="text-center text-neutral-400 text-sm">
            (All variants are without any additional spread yet. Feel free to
            add it by yourself)
          </p>
          <div
            class="mt-8 flex gap-4 flex-col sm:flex-row md:gap-8 items-center flex-wrap justify-center"
          >
            {highlights.map((h, idx) => <Variant variant={h} />)}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  const npmInstallCommand = document.getElementById("npm-install-command");

  npmInstallCommand?.addEventListener("click", () => {
    navigator.clipboard.writeText("npm install tailwindcss-highlights");
  });
</script>
